.productos-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
    flex: 1 1 calc(30% - 16px); /* Adjust this for card sizing */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  .imgcontainer{
    text-align: center;
    padding-top: 16px;
    border-radius: 10px;
  }
  .imgtragos{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .search-container {
    display: flex; 
    align-items: center; 
    margin: 20px; 
  }
  
  .search-label {
    margin-right: 10px;
    font-size: 1.5rem; 
    font-weight: 600; 
    color:white; 
  }
  
  .search-input {
    padding: 10px; /* Espaciado interno */
    border: 1px solid #ccc; /* Color del borde */
    border-radius: 5px; /* Bordes redondeados */
    width: 250px; /* Ancho fijo */
    transition: border-color 0.3s ease; /* Suavizado en el color del borde */
  }
  
  .search-input::placeholder {
    color: #aaa; /* Color del texto del placeholder */
  }
  
  .search-input:focus {
    outline: none; /* Eliminar el borde del enfoque predeterminado */
    border-color: #007bff; /* Color del borde al hacer foco */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra al hacer foco */
  }
  .divider {
    border: none; /* Elimina el borde predeterminado */
    border-bottom: 1px solid #ddd; /* Borde inferior */
    margin: 20px 0; /* Margen superior e inferior */
    background-color: #ddd; /* Color de fondo para la línea */
  }
  